/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 jul 2023, 21:01:36
    Author     : pc
*/
h1
{
    color: #009999
}

h2
{
    color: blue
}

strong
{
    color: red
}

.destacado
{
    color: #ff9933;

}

a
{
    color: blue;
}

em
{
    color: blue;
}

a:hover
{
    color: red;
}


table
{
    color: orange;

    border-collapse: collapse;
    border: 1px solid black;
    border-style: solid;
    border-width: 1px;

}

table.destacado
{
    color: orange;
}

th
{
    border: 1px black solid;
    color: red;
}

th.especial
{
    color: goldenrod;
}
tr
{
    color: green;
    border: 1px black solid;
}

td
{
    color: green;
    border: 1px  black solid;
}

td>strong
{
    color: darkgoldenrod;
}

td>em
{
    color: green
}

td.destacado
{
    color: green;
}

td.especial
{
    color: green
}

.especial
{
    color:blueviolet;
}

span
{
    color: #ff9933
}
span.destacado
{
    color: orange;
}

p>span
{
    color: darkolivegreen;
}

caption
{
    color: whitesmoke;
}

#adicional
{
    color: darkolivegreen

}

#especial
{
    color: violet;
}

#adicional>p>a
{
    color: green;
}